body{
font-family:Arial;
background:#eef3ff;
margin:0;
text-align:center;
}

header{
background:#1565c0;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
}

.logout{
background:red;
border:none;
color:white;
padding:8px;
}

.container{
padding:20px;
}

button{
padding:10px;
margin:5px;
border:none;
border-radius:5px;
background:#1565c0;
color:white;
}

.card{
background:white;
padding:10px;
margin:10px;
border-radius:8px;
box-shadow:0 0 5px gray;
}

img{
max-width:300px;
}

.delete{
background:red;
}

.edit{
background:orange;
}
